
node_modules/
/dist/
/target/
.DS_Store
*.happ
*.webhapp
*.zip
*.dna
.hc*
.hc
.running
Cargo.lock
.idea
.vscode
/package-lock.json
settings.json
/tests/node_modules/
/tests/sweetests/target

# Ignore everything in .cargo/ except config.toml
.cargo/*
!.cargo/config.toml
/crates/holons_core_old/
