[package]
name = "holons_guest"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["rlib"]
name = "holons_guest"

[features]
guest = []  # This crate supports the `guest` feature

[dependencies]
# General dev-dependencies (platform-agnostic)
Inflector = "0.11"
serde = { version = "1", features = ["derive"] }
#serde_json = "1.0.109"
thiserror = "2"
tracing = "0.1"

# Holochain Dependencies
hdk = "0.5"
hdi = "0.6"

# MAP Dependencies
holons_core = { path = "../../../shared_crates/holons_core" }
holon_dance_builders = { path = "../../../shared_crates/holon_dance_builders" }
base_types = { path = "../../../shared_crates/type_system/base_types" }
core_types = { path = "../../../shared_crates/type_system/core_types" }
type_names = { path = "../../../shared_crates/type_system/type_names" }
integrity_core_types = { path = "../../../shared_crates/type_system/integrity_core_types" }
holons_loader = {path = "../../../shared_crates/holons_loader"}
holons_guest_integrity = { path = "../holons_guest_integrity" }
holons_integrity = { path = "../../zomes/integrity/holons_integrity" }



