<div class=" flex flex-col h-screen">
  <div class="h-16">
      <app-toolbar (error_message)="errorDownstream($event)"></app-toolbar>
    </div>
    <div class="grow p-5">
      <app-viewer (error_message)="errorDownstream($event)">
        @if(error){
          <div class="{{errorStyling}} align-text-top text-left py-4">{{error}}</div>
        }
        @if(status){
          <div class="{{statusStyling}} align-text-top text-left py-4">{{status}}</div>
        }
      </app-viewer>
    </div>
    <div class="h-16">
      <app-footer></app-footer>
    </div>
</div>
