name: test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [develop, main, ci-fix]

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: ${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5

      - name: Maximize build space
        uses: AdityaGarg8/remove-unwanted-software@v5
        if: startsWith(matrix.os, 'ubuntu')
        with:
          remove-dotnet: "true"
          remove-android: "true"
          remove-codeql: "true"
          remove-docker-images: "true"
          remove-large-packages: "true"

      - name: cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '4.x'

      - uses: Swatinem/rust-cache@v2

     # - name: Lint
     #   run: cargo clippy --all-features -- -D warnings

     # - name: Check formatting
     #   run: cargo fmt --all --check

      - name: install and test
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
      - run: npm ci
      - run: npm test
        env:
          CI: true
        